<launch>
        <!-- Link pressed buttons to actions -->
        <node name="spacenav_buttons" pkg="spacenav_utils" type="buttons.py" output="screen">
                <param name="joystick_topic" value="/spacenav/joy"/>
                <rosparam command="load" file="$(find spacenav_utils)/etc/button_cmds.yaml" ></rosparam>
        </node>
</launch>
