<launch>
        <!-- Spacenav driver node -->
        <node pkg="spacenav_node" type="spacenav_node" name="spacenav_node" output="screen">
                <param name="zero_when_static" value="true"/>
                <param name="static_count_threshold" value="30"/>
                <rosparam param="linear_scale">[50,50,50]</rosparam>
                <rosparam param="angular_scale">[5,5,5]</rosparam>
        </node>
</launch>
