<launch>
        <!-- Republish twists as wrenches -->
        <node name="spacenav_to_wrench" pkg="spacenav_utils" type="converter.py" output="screen">
                <param name="twist_topic" value="/spacenav/twist"/>
                <param name="wrench_topic" value="/spacenav/wrench"/>
                <param name="frame_id" value="world"/>
                <param name="publishing_rate" value="100"/>
        </node>
</launch>
