<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

        <!-- Includes -->
        <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />

        <!-- Create robot instance -->
        <xacro:ur10_robot prefix="" joint_limited="false"/>

        <!-- Connect to world -->
        <link name="world" />
        <joint name="world_joint" type="fixed">
                <parent link="world" />
                <child link = "base_link" />
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </joint>

        <!-- Testing reference frame for tf_publisher_gui -->

        <!-- Starting frame for tf_publisher_gui -->
        <link name="testing_ref" />
        <joint name="testing_ref_joint" type="fixed">
                <parent link="base_link" />
                <child link="testing_ref" />
                <origin xyz="0.543 0.243 0.741" rpy="3.116 -0.077 0.148" />
        </joint>

        <!-- Load control plugin -->
        <!-- This exposes a controller_manager to manage controllers for gazebo -->
        <gazebo>
                <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                </plugin>
        </gazebo>
</robot>

